body{
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.title{
    padding: 0 15% 10%;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

h3{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}

.navcon{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: lighter;
}

i {
    margin-right: 0.5rem;
}

/* Buttons */
.download-btn{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.iphone{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}

.iphone-div{
    position: relative;
    padding-top: 7%;
}

@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .iphone{
        position: static;
        transform: rotate(0deg);
    }

    .nav-item{
        text-align: right;
    }
}

/* Features */

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.features{
    padding: 5%;
    text-align: center;
}

p{
    color: #8f8f8f;
    font-size: 1.5rem;
}

.icon{
    font-size: 4rem;
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testi{
    padding: 7% 15%;
}

.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-col{
    padding: 3% 2%;
}

/* Call to Action */
#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    font-family: 'Montserrat-Black', sans-serif;
}

.cta{
    width: 90%;
}

#cta h3{
    font-size: 4rem;
    color: #fff;
}

.cta-btn{
    margin: 5% 3% 5% 0; 
    font-size: 1.5rem;
}

/* Footer */
#footer{
    padding: 7% 15%;
    text-align: center;
}

.copyright{
    font-size: 1.25rem;
}

.logo-socmed{
    margin: 25px 15px 50px;
    font-size: 1.5rem;
}